* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --main-color: #d37e17;
  --secondary-color: #7a4504;
  --white: #ffffff;
  --background: #fff6eb;
  --titles-font: "Rubik", sans-serif;
  --texts-font: "Fredoka", sans-serif;
}

body {
  background-color: var(--background);
}

.info-adoption {
  padding: 16px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

a {
  color: var(--white);
  text-decoration: none;
  display: flex;
  gap: 8px;
  align-items: center;
}

/* HEADER AND VIDEO FRAME */

.video-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-info h1 {
  text-align: center;
  font-family: var(--titles-font);
  font-size: 2.4rem;
  color: var(--secondary-color);
  font-weight: 600;
}

.video-info video {
  width: 80%;
  margin-top: 2.4rem;
}

/* button search pet and CTA */
.search_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 100%;
  padding: 8px 16px;
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-family: var(--titles-font);
  font-size: 2rem;
  font-weight: 600;
  margin: 24px 0;
}

.textContent {
  display: flex;
  flex-direction: column;
  font-family: var(--texts-font);
  gap: 8px;
}

.textContent__title {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

#process_resume {
  align-self: center;
  margin-bottom: 3.2rem;
}

.textContent__subtitle {
  font-family: var(--texts-font);
  font-weight: 500;
  font-size: 2rem;
  line-height: 24px;
  color: var(--secondary-color);
  margin-bottom: 0.8rem;
}

.textContent__paragraph {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.textContent div {
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.textContent__image {
  min-width: 218px;
  align-self: center;
  margin-top: 0.8rem;
}

#last_paragraph {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
}

.textContent__list {
  max-width: 300px;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  position: relative;
  left: 32px;
}

.textContent__disclaimer {
  font-family: var(--texts-font);
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 15px;
  color: #636363;
  margin-top: 0.8rem;
}

/* SECONDARY BUTTONS OR REDIRECT IN INFO PAGE */

.textContent__sec-btns div {
  flex-direction: row;
  gap: 8px;
  margin: 0;
}

.textContent .textContent__sec-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px 16px 32px 16px;
  gap: 8px;
  justify-content: center;
}

.textContent__sec-btns button {
  align-items: center;
  min-height: 24px;
  min-width: 144px;
  padding: 4px, 8px, 4px, 8px;
  background: #7a4504;
  border-radius: 8px;
  color: var(--white);
  border: none;
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  justify-content: center;
  align-items: center;
}

#mission-page-info {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* SUGGESTS BOX */

.suggest-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 56px;
}

.suggest-box__text {
  font-family: "Fredoka";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

.suggest-box__btn {
  padding: 4px 8px;
  background: #7a4504;
  border-radius: 8px;
  color: var(--white);
  border: none;
  width: 218px;
  height: 24px;
  margin-bottom: 16px;
}
