/* Styles for mobile devices */
@media (max-width: 767px) {
  .form {
    margin: 20px;
  }

  .form__label {
    display: block;
    margin-bottom: 10px;
  }

  .form__label-text {
    font-weight: bold;
  }

  .form__input,
  .form__select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

/* Styles for desktop devices */
@media (min-width: 768px) {
  .form {
    max-width: 400px;
    margin: 0 auto;
  }

  .form__label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .form__label-text {
    font-weight: bold;
    margin-right: 10px;
    width: 80px;
  }

  .form__input,
  .form__select {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

/* Common styles for both mobile and desktop */
.form {
  font-family: Arial, sans-serif;
}

.form__label p {
  margin: 0;
}

.form__button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #45a049;
}

.heading {
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #966d14;
  margin-bottom: 20px;
  margin: 10 auto;
  text-align: center;
}
